modules = ["go-1.21", "go-1.24"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Token Hunter"

[[workflows.workflow]]
name = "Token Hunter"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "go run main.go"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
BOT_TOKEN = "8028312869:AAErsD7WmHHw11c2lL2Jdoj_DBU4bqRv_kQ"
CHAT_ID = "8267410570"

[deployment]
deploymentTarget = "autoscale"
run = ["./token-hunter"]
build = ["go", "build", "-o", "token-hunter", "."]
